<a href="https://colab.research.google.com/github/nestoredduardo/data-manipulation-pandas/blob/main/CSV_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
URL ='/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython'

In [4]:
!mkdir '/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db'

mkdir: cannot create directory ‘/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db’: File exists

In [5]:
dir_pandas = '/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/test.csv'

In [6]:
import pandas as pd
print(pd.__version__)
import numpy as np

1.1.5

In [7]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [8]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [9]:
dir = '/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/'
dir_pandas = '/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/test.csv'

In [10]:
df.to_csv(dir_pandas, index=False)

In [11]:
!ls '/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/'

test.csv

In [12]:
df_read = pd.read_csv('/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [16]:
!pip install openpyxl

!pip install pyarrow

!pip install tablesS

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)
ERROR: Could not find a version that satisfies the requirement tablesS (from versions: none)
ERROR: No matching distribution found for tablesS

In [18]:
dir_pandas = '/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/{}'
dir_pandas

'/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/{}'

In [24]:
df.to_excel(dir_pandas.format('test.xlsx'),index=False,sheet_name='Hoja_uno')

In [20]:
dir_pandas.format('test.xlsx')

'/content/drive/My Drive/Data Science/ManipulaciónAnálisisDatosPython/db/test.xlsx'

In [23]:
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [25]:
df.to_json(dir_pandas.format('test.json'))

In [26]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [27]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [28]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [29]:
df.to_parquet(dir_pandas.format('test.parquet'))

In [30]:
df.to_hdf(dir_pandas.format('test.hdf'), key='data', format='table')

In [31]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [32]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9